
<!-- 
<div class = "nav nav-pills nav-stacked span2 col-xs-2">
	<ul class="left-menu">
		<li>
			<a href = "" class="text-left">Kiteboarding</a></li>
		<li>
			<a href= "/#lessonsDescription">Lessons</a>
		</li>
		<li>
			<a href= "/#lessonsModule1">Module 1</a>
		</li>
		<li>
			<a href= "/#lessonsModule2">Module 2</a>
		</li>
		<li>
			<a href= "/#lessonsModule3">Module 3</a>
		</li>
		<li>
			<a href= "/#lessonsFAQ">FAQ</a>
		</li>
		<li>
			<a href= "/#lessonsTestimonials">Testimonials</a>
		</li>
	</ul>
</div>
 -->


<div class ="col-xs-5">
<h3>Introduction</h3>
Kiteboarding is a surface water sport combining aspects of wakeboarding, windsurfing, surfing, paragliding, and gymnastics into one extreme sport. A kiteboarder harnesses the power of the wind with a large controllable power kite to be propelled across the water on a kiteboard similar to a wakeboard or a small surfboard, with or without footstraps or bindings.

Kitesurfing is a style of kiteboarding specific to wave riding, which utilzes standard surfboards or boards shaped specifically for the purpose.

There are different styles of kiteboarding, including freestyle, freeride, downwinders, speed, course racing, wakestyle, jumping and kitesurfing in the waves.[1] In 2012, the number of kitesurfers was estimated by the ISAF and IKA at 1.5 million persons worldwide
</div>


<div class="col-xs-7">
	<div id="module2Carousel" class="carousel slide carousel-fade" data-ride="carousel">
    	 <div class="carousel-inner">
		      <div class="item active"> <img data-src="images/lessons/lesson4.jpg" src="images/lessons/lesson4.jpg">
		        <div class="container">
		          <div class="carousel-caption">
		            <h1 class="">&nbsp;<br>Module 1</h1>
		          </div>
		        </div>
		      </div>	  
		      <div class="item"> <img data-src="images/lessons/lesson2.jpg" src="images/lessons/lesson2.jpg">
		        <div class="container">
		          <div class="carousel-caption">
		            <h1>&nbsp;<br>Module 2</h1>
		          </div>
		        </div>
		      </div>  
		      <div class="item"> <img data-src="images/lessons/lesson3.jpg" src="images/lessons/lesson3.jpg">
		        <div class="container">
		          <div class="carousel-caption">
		            <h1 class="">&nbsp;<br>Module 3</h1>
		          </div>
		        </div>
		     </div>
		     </div>
		    <a class="left carousel-control" href="/#module2Carousel" data-slide="prev">
		    	<span class="glyphicon carousel-control-left"></span></a> 
		    <a class="right carousel-control" href="/#module2Carousel" data-slide="next">
		    	<span class="glyphicon carousel-control-right"></span></a> 
	 </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<h3>Module1</h3>
		<p>Kiteboarding is a surface water sport combining aspects of wakeboarding, windsurfing, surfing, paragliding, and gymnastics into one extreme sport. A kiteboarder harnesses the power of the wind with a large controllable power kite to be propelled across the water on a kiteboard similar to a wakeboard or a small surfboard, with or without footstraps or bindings.</p>
		<button type="button" class="btn btn-info">Read More</button>
		
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<h3>Module2</h3>
		<p>There are different styles of kiteboarding, including freestyle, freeride, downwinders, speed, course racing, wakestyle, jumping and kitesurfing in the waves.[1] In 2012, the number of kitesurfers was estimated by the ISAF and IKA at 1.5 million persons worldwide</p>
	    <button type="button" class="btn btn-info">Read More</button>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<h3>Module 3</h3>
		<p>There are different styles of kiteboarding, including freestyle, freeride, downwinders, speed, course racing, wakestyle, jumping and kitesurfing in the waves.[1] In 2012, the number of kitesurfers was estimated by the ISAF and IKA at 1.5 million persons worldwide</p>
		<button type="button" class="btn btn-info">Read More</button>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<h3>FAQ</h3>
		<ul>
			<li>Echipament necesar?</li>
			<li>Conditie fizica necesara?</li>
		</ul>
		<button type="button" class="btn btn-info">Read More</button>
	</div>
</div>



<script type="text/javascript">
$('.carousel').carousel({
  interval: 5000
})
</script>