<div class="container">
	<div class="lessons">
		<div class="row">
			<hr>
			<div class="content">
				<div class="col-xs-5">
					<div>
						<h3>FAQ</h3>
					</div>
					<div class="content">
						<h4>What is IKO International Certification Standards?</h4>
						<p>The certification standards are designed to validate the students’ achievements on their IKO Member Card, from their first flying to their first jump.</p>
						<p>As you progress through your IKO course, your instructor will sign and agree that you have achieved each of the skills steps within each level. It is important that you are also monitoring your own skills and progress, in addition to your instructor ticking off your achievements.</p>
						
					</div>
				</div>
				<div class="col-xs-7">
					<div id="module2Carousel" class="carousel slide carousel-fade"
						data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<img data-src="images/lessons/lesson4.jpg"
									src="images/lessons/lesson4.jpg">
								<div class="container">
									<div class="carousel-caption">
										<h3 class="">
											&nbsp;<br>Desc 1
										</h3>
									</div>
								</div>
							</div>
							<div class="item">
								<img data-src="images/lessons/lesson2.jpg"
									src="images/lessons/lesson2.jpg">
								<div class="container">
									<div class="carousel-caption">
										<h3>
											&nbsp;<br>Desc 2
										</h3>
									</div>
								</div>
							</div>
							<div class="item">
								<img data-src="images/lessons/lesson3.jpg"
									src="images/lessons/lesson3.jpg">
								<div class="container">
									<div class="carousel-caption">
										<h3 class="">
											&nbsp;<br>Module 3
										</h3>
									</div>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="/#module2Carousel"
							data-slide="prev">&lsaquo;</a> <a class="right carousel-control"
							href="/#module2Carousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>