<div class="container">
	<div class="lessons">
		<div class="row">
			<hr>
			<div class="content">
				<div class="col-xs-5">
					<div>
						<h3>Module 3 - Water start</h3>
					</div>
					<div class="content">
						<h4>Kite piloting for the water start</h4>
						<p>The wind strength may vary, so you have to dive the kite in power zone, more or less aggressively, to generate enough power to stand up. You have to fly from one side of the window to the other starting at 12 o’clock. The lower the kite, the more power you get.</p>
						<p>Body position for the water start.</p>
						<p>In order to complete your water start, you need to have the right position.</p>
						<p>Bring the kite slowly to 12 o’clock. The board has to be in front of you .</p>
						<p>Lay back on the water, put your feet in the foot straps, one at a time</p>
						<p>Your legs should be bent and the front one slightly straighter than the back one.</p>
						<p>The shoulders must be closer to your knees to make your body easy to get over the board and stand up.</p>
						<p>Put both hands back on the kite.</p>
						<p>Position the kite in the opposite side of 12 o’clock that you want to travel ( 11 or 1 o’clock)</p>
						<p>Dive the kite trough the power zone in the direction you want to go (towards 2 or 10 o’clock)</p>
						<p>Let the power of the kite pull your shoulders towards your knees then up over the board</p>
						<p>Extend your legs once your body is over the board and you have started to ride.</p>
					</div>
				</div>
				<div class="col-xs-7">
					<div id="module2Carousel" class="carousel slide carousel-fade"
						data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<img data-src="images/lessons/lesson4.jpg"
									src="images/lessons/lesson4.jpg">
								<div class="container">
									<div class="carousel-caption">
										<h3 class="">
											&nbsp;<br>Desc 1
										</h3>
									</div>
								</div>
							</div>
							<div class="item">
								<img data-src="images/lessons/lesson2.jpg"
									src="images/lessons/lesson2.jpg">
								<div class="container">
									<div class="carousel-caption">
										<h3>
											&nbsp;<br>Desc 2
										</h3>
									</div>
								</div>
							</div>
							<div class="item">
								<img data-src="images/lessons/lesson3.jpg"
									src="images/lessons/lesson3.jpg">
								<div class="container">
									<div class="carousel-caption">
										<h3 class="">
											&nbsp;<br>Module 3
										</h3>
									</div>
								</div>
							</div>
						</div>
						<a class="left carousel-control" href="/#module2Carousel"
							data-slide="prev">&lsaquo;</a> <a class="right carousel-control"
							href="/#module2Carousel" data-slide="next">&rsaquo;</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>