<div>
	<div class="travel-main">
		<img src="images/lessons/lesson4.jpg" />
	</div>
	<div class="travel-container">


		<div class="col-lg-8 col-md-6 col-xs-12 travel-content">
		<h3>Module 2 - Body Drag</h3>
			<p>Body drag este necesar pentru a putea recupera placa si pentru
				a</p>
			<p>Now you are ready to enter the water. Body dragging is great
				fun, and teaches the essential skills needed to attempt the water
				start and begin kiteboarding. You will be on the board sooner than
				you know it!</p>

			<p>Make sure you wear a floatation vest and a wetsuit if the
				water is cold. Some things to consider are the depth of the water,
				hidden obstacles beneath of the water’s surface, strong tides and
				currents, and large waves.</p>
			<img src="images/lessons/windDirections.jpg" />

			<h4>Water re-launch</h4>
			<p>There will be times that your kite falls into the water.
				Remember these basic steps to re-launch easily.</p>
			<p>1. When the kite is on the water with its leading edge facing
				down, swim upwind to tension the lines. Keep the bar in the normal
				position (red on the left)</p>
			<p>2. Pull the bar towards you to allow the kite to pick up wind.</p>
			<p>3. Grab one of the back leader line as far up the bar is
				possible and start to push the bar away. Make sure that you do not
				twist the line around your fingers or other body part at any time.</p>
			<p>4. Pull on the leader line until the kite rotates on its side
				and starts to rise off the water. Ensure the bar is still pushed
				away during the take off.</p>
			<p>5. When the kite has taken off, put both hands back on the bar
				to regain full control. If the kite suddenly re-launches, depower
				the kite by pushing the bar away.</p>

			<img src="../images/travel/travel1-4.jpg" />


			<h4>Self rescue and pack-down</h4>
			<p>Self-rescue is very important skill, as it allows you to get
				back to the shore when things go wrong. This technique is used when
				the wind has died, you have a broken line or in any situation in
				which you cannot body drag or kiteboard back to the beach. The
				practice makes perfect, so try out few times in a safe environment
				to avoid confusion in stressful situation.</p>
			<h4>Upwind body dragging and board recovery</h4>

			<p>Do not rush!</p>
			<p>Keep the kite parked at 45 degrees in the same direction that
				you were traveling.</p>
			<p>Keep an eye on your board at all the time!</p>
			<p>Use your body to resist the pull downwind as a keel of a boat.</p>
			<p>Fly the kite using your upper hand and stretch out the other
				arm in the water, pointing it upwind (like superman!).</p>
			<p>When you see the board over your back shoulder, it’s time to
				change direction.</p>
			<p>Move your kite slowly up to 12 o’clock then over to 45 degrees
				in the opposite direction</p>
			<p>Swap hands on the control bar</p>
			<p>Body drag to opposite direction to your board.</p>

		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<div>
				<div class="page-header">
					<h3 id="timeline">Detalii curs</h3>
					<ul class="timeline">
						
						<li>
							<div class="timeline-badge success">
								<i class="glyphicon glyphicon-check"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Ce inveti?</h4>
									<p>
										<small class="text-muted"> <i
											class="glyphicon glyphicon-time"></i>Durata 4h
										</small>
									</p>
								</div>
								<div class="timeline-body">
									<p>Cunoasterea regulilor de prioritate</p>
									<p>Lansarea zmeului</p>
									<p>Manuire zmeu mare</p>
									<p>Body dragging</p>
									<p>Recuperarea placii</p>
									<p>Relansarea din apa a zmeului</p>
									<p>Self-rescue</p>
								</div>
							</div>
						</li>

						<li>
							<div class="timeline-badge success">
								<i class="glyphicon glyphicon-check"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Ce include?</h4>
									<p>
										<small class="text-muted"> <i
											class="glyphicon glyphicon-time"></i>Durata 4h
										</small>
									</p>
								</div>
								<div class="timeline-body">
									<p>Curs individual cu instructor autorizat IKO, orientat
										elev</p>
									<p>Echipament kite</p>
									<p>Echipament de siguranta(casca, vesta)</p>
									<p>Consiliere in alegerea echipamentului</p>
									<p>Excursii de kite organizate dupa absolvire</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-badge">
								<i class="glyphicon glyphicon-check"></i>
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">Locatii</h4>
								</div>
								<div class="timeline-body">
									<p>Mamaia - Navodari. Plaja este larga si fara obstacole,
										ideala pentru incepatori</p>
									<p>Turcia - Gockeada</p>
									<p>Grecia - Lefkada, Corfu</p>
									<p>Excursii organizate</p>
								</div>
							</div>
						</li>
						
						
				</div>
			</div>
		</div>
	</div>
</div>


