<div>
	<div class="travel-main">
		<img src="../images/travel/travel1-2.jpg" />
	</div>
	<div class="travel-container">
		<div class="col-lg-8 col-md-6 col-xs-12 travel-content">
			<p>Explore the quaint cobblestone streets of Cusco with colourful
				locals and their adorable Llamas to the ancient mystical Machu
				Picchu. Discover snowy mountain peaks and turquoise lakes of the
				Andes. Encounter authentic villages that still practice the Inca
				lifestyle and furry characters of the Amazon. Peru is waiting to
				dazzle you.</p>
			<img src="../images/travel/travel1-3.jpg" />

			<h4>Subtitle</h4>
			<p>High Season coincides with the driest months of May to October
				with the busiest times during July and August which is winter.
				Winter in the Andes is beautiful; the days are sunny at about 20°C
				and the nights chilly sometimes dropping as low as 1°C. In the
				highlands, temperatures can drop as low as -5°C.</p>
			<img src="../images/travel/travel1-4.jpg" />
		</div>
		<div class="col-lg-4 col-md-6 col-xs-12">
			<div>
				<div class="page-header">
					<h3 id="timeline">Timeline</h3>
				</div>
				<ul class="timeline">
					<li>
						<div class="timeline-badge">
							<i class="glyphicon glyphicon-check"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
								<p>
									<small class="text-muted"><i
										class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small>
								</p>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-badge warning">
							<i class="glyphicon glyphicon-credit-card"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge danger">
							<i class="glyphicon glyphicon-credit-card"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-badge info">
							<i class="glyphicon glyphicon-floppy-disk"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
								<hr>
								<div class="btn-group">
									<button type="button"
										class="btn btn-primary btn-sm dropdown-toggle"
										data-toggle="dropdown">
										<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Action</a></li>
										<li><a href="#">Another action</a></li>
										<li><a href="#">Something else here</a></li>
										<li class="divider"></li>
										<li><a href="#">Separated link</a></li>
									</ul>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
					<li class="timeline-inverted">
						<div class="timeline-badge success">
							<i class="glyphicon glyphicon-thumbs-up"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="timeline-title">Mussum ipsum cacilds</h4>
							</div>
							<div class="timeline-body">
								<p>Mussum ipsum cacilds, vidis litro abertis. Consetis
									adipiscings elitis. Pra lá , depois divoltis porris, paradis.
									Paisis, filhis, espiritis santis. Mé faiz elementum girarzis,
									nisi eros vermeio, in elementis mé pra quem é amistosis quis
									leo. Manduma pindureta quium dia nois paga. Sapien in monti
									palavris qui num significa nadis i pareci latim. Interessantiss
									quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>

		</div>

	</div>

</div>