<div>
	<div class="col-xs-2">
		<ul class="nav nav-pills nav-stacked span2 ">
			<li class="active"><a href="#" class="text-left">Kites</a>
				<ul class="nav">
					<li><a href="#">North</a></li>
					<li><a href="#">Cabrina</a></li>
					<li><a href="#">Ozone</a></li>
				</ul></li>
			<li><a href="/#lessonsDescription">Kite Boards</a></li>
			<li><a href="/#lessonsModule1">Suits</a></li>
			<li><a href="/#lessonsModule2">Harness</a></li>
			<li><a href="/#lessonsModule3">Accessories</a></li>
			<li><a href="/#lessonsFAQ">How to buy it</a></li>
			<li><a href="/#lessonsTestimonials">Testimonials</a></li>
		</ul>
	</div>

	<div class="col-lg-10">
		<div class="col-lg-6 col-md-12 col-xs-12 product">
			<h3>North 12</h3>
			<div class="col-lg-4">
				<div class="image">
					<img src="images/store/kites/north-rebel-2012-3.jpg" />

				</div>

			</div>
			<div class="col-lg-8">
				<div class="description">
					<p>Developed over 6 month of hard testing from 4 to 40 knots of
						wind over the most diverse water conditions, these kites deliver
						pure, constant, controllable power on demand and a great range of
						use.</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span class="price">300euro</span>
						<button type="button" class="btn btn-warning">Buy</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6 col-md-12 col-xs-12 product">
			<h3>North 12</h3>
			<div class="col-lg-4">
				<div class="image">
					<img src="images/store/kites/north-rebel-2012-3.jpg" />

				</div>

			</div>
			<div class="col-lg-8">
				<div class="description">
					<p>Developed over 6 month of hard testing from 4 to 40 knots of
						wind over the most diverse water conditions, these kites deliver
						pure, constant, controllable power on demand and a great range of
						use.</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span class="price">300euro</span>
						<button type="button" class="btn btn-warning">Buy</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6 col-md-12 col-xs-12 product">
			<h3>North 12</h3>
			<div class="col-lg-4">
				<div class="image">
					<img src="images/store/kites/north-rebel-2012-3.jpg" />

				</div>

			</div>
			<div class="col-lg-8">
				<div class="description">
					<p>Developed over 6 month of hard testing from 4 to 40 knots of
						wind over the most diverse water conditions, these kites deliver
						pure, constant, controllable power on demand and a great range of
						use.</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span class="price">300euro</span>
						<button type="button" class="btn btn-warning">Buy</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-lg-6 col-md-12 col-xs-12 product">
			<h3>North 12</h3>
			<div class="col-lg-4">
				<div class="image">
					<img src="images/store/kites/north-rebel-2012-3.jpg" />

				</div>

			</div>
			<div class="col-lg-8">
				<div class="description">
					<p>Developed over 6 month of hard testing from 4 to 40 knots of
						wind over the most diverse water conditions, these kites deliver
						pure, constant, controllable power on demand and a great range of
						use.</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span class="price">300euro</span>
						<button type="button" class="btn btn-warning">Buy</button>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="col-lg-6 col-md-12 col-xs-12 product">
			<h3>North 12</h3>
			<div class="col-lg-4">
				<div class="image">
					<img src="images/store/kites/north-rebel-2012-3.jpg" />

				</div>

			</div>
			<div class="col-lg-8">
				<div class="description">
					<p>Developed over 6 month of hard testing from 4 to 40 knots of
						wind over the most diverse water conditions, these kites deliver
						pure, constant, controllable power on demand and a great range of
						use.</p>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span class="price">300euro</span>
						<button type="button" class="btn btn-warning">Buy</button>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</div>