.navbar-default{
	vertical-align: center;
	text-align: center;
}

.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    margin-right:15px;
}
.navbar-default {
    font-size: 14px;
    font-weight: bold;
	background: url("../images/nav-background.jpg") repeat-x;
	background-size: contain;   
    border-bottom-width: 2px;
    font-family : 'Alegreya SC';
}

.dropdown-menu{
	 background-color: rgba(26, 47, 112, 1);
}
.navbar-default .navbar-nav a , .navbar-default .navbar-nav>li>a  {
    color: rgba(255, 255, 255, 1)  !important; 
}
.navbar-default .navbar-nav a:hover, .navbar-default .navbar-nav>li>a:hovers {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 36, 94, 0.63) !important;
}

.navbar-default .navbar-nav a:focus, .navbar-default .navbar-nav>li>a:focus  {
    color: rgba(255, 255, 255, 1);
    background-color: transparent !important;
}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a 
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>.active>a:hover
.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>.active>a:focus{
    color: #fbba1f  !important;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #1a2f70;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}


.navbar-brand {
	background: url('../navigation/brand') no-repeat; 
	background-size: 130px 60px;
	width: 100px;
	height: 60px;
}


@media (min-width: 768px){
	.navbar-nav>li>a{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.navbar .navbar-nav {
  display: inline-block !important;
  float: none !important;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.fa-youtube-square{
    color: rgb(222, 41, 41);
}
