/**
nav bar
*/
.navbar-brand {
	background: url('../images/sigla.png') no-repeat;
	background-size: 130px 37px;
	width: 130px;
	height: 37px;
	margin-top: 7px;
}

.fa-youtube-square {
	color: rgb(195, 51, 51);
}

.footer {
	margin-top: 15px;
	height: 100%;
}

a,a:hover,a:focus,a:active,a.active {
	outline: 0;
}

.carousel-caption .btn-info:hover,.carousel-caption .btn-info:focus,.carousel-caption .btn-info:active,.carousel-caption .btn-info.active
	{
	background-color: transparent;
	color: #000;
}

/**home*/
html{
	height:100%;
}


body {
	background-color: #fff;
	/**margin-bottom: 80px; */
	height:100%;
}

.main-view {
	margin-top: 60px;
	height:100%;
}

ul.left-menu {
	list-style-type: none;
	background-color: #3399CC;
}

ul.left-menu li {
	background-color: #3399CC;
}

ul.left-menu li a {
	color: #fff;
	padding: 5px 10px;
}

.home-section img {
	padding-top: 10px;
	height: 300px;
	width: 350px;
}



.home-container .caption {
	text-align: center;
	color: #000;
	margin-bottom: 30px;
}

.home-container .img-container img {
	width: 100%;
	height: 260px;
}

.home-section .img-container:hover > .hover-panel {
	opacity: 0.5;
	display: block;
}

.hover-panel {
	display: none;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}

/*
*carousel*/
.full-height{
	height:100%;	
}


.carousel-container{
	height:86%;
}

.carousel .item {
	width: 100%; /*slider width*/
	height: 100%;
}


.carousel-caption {
	font-style: italic;
	text-shadow: 2px 1px #C0C0C0;
	font-size: 20px;
}

.carousel .item img {
	width: 100%; /*img width*/
	height: 100%;
	background-position: center top;
	
}

/*XS*/
@media screen and (max-width: 767px) {
    .carousel .item img {
        height: 250px;
    }
}

/*XS*/
@media screen and (max-width: 767px) {
    .carousel .item img {
        height: 250px;
    }
}

.carousel-control {
	position: absolute;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	top: 50%;
	border: 3px solid #ffffff;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #AAD6E5;
}

.carousel-control.left {
	left: 15px;
}

.carousel-control.right {
	right: 15px;
}

/** lessons*/
.lesson-img img {
	width: 100%;
	height: 270px;
}

.faq {
	font-size: 270px;
}

/** store */
.nav .nav>li>a {
	padding-left: 30px;
}

.product .image img {
	width: 150px;
	height: 150px;
}

.product .price {
	font-weight: bold;
}

/** gallery */
.gallery img {
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1);
	/* Google Chrome, Safari 6+ & Opera 15+ */
	-webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
	margin-bottom: 20px;
}

.gallery img:hover {
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0);
	/* Google Chrome, Safari 6+ & Opera 15+ */
}

.controls {
	width: 50px;
	display: block;
	font-size: 11px;
	padding-top: 8px;
	font-weight: bold;
}

.next {
	float: right;
	text-align: right;
}

/** general */
.col-padding{
	  padding: 4px 4px;
}
