/**
nav bar
*/
.navbar-brand {
	background: url('../images/sigla.png') no-repeat;
	background-size: 150px 50px;
	width: 150px;
	height: 50px;
	margin-top: 5px;
}	

.fa-youtube-square {
  color: rgb(195, 51, 51);
}


.footer{
	margin-top:15px;
	height: 100%;
}

a, a:hover, a:focus, a:active, a.active {
  outline: 0;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #cccccc;
}

/**home*/
body {
	background-color: #fff;
	margin-bottom: 80px;
}

.main-view {
	margin-top: 60px;
}

ul.left-menu {
	list-style-type: none;
	background-color: #3399CC;
}

ul.left-menu li {
	background-color: #3399CC;
}

ul.left-menu li a {
	color: #fff;
	padding: 5px 10px;
}

.home-section img {
	padding-top: 10px;
	height: 300px;
	width: 350px;
}

/**carousel*/
.carousel .item {
	width: 100%; /*slider width*/
	
}

.carousel .item img {
	width: 100%; /*img width*/
	height: auto;
}

.carousel-control {
	position: absolute;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	top: 50%;
	border: 3px solid #ffffff;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	background: #AAD6E5;
}

.carousel-control.left {
	left: 15px;
}

.carousel-control.right {
	right: 15px;
}

/**carousel 
.carousel-control span{
  position: absolute;
}

.carousel-control{
	top:50%;
}

.carousel-control .carousel-control-left {
  background: url('../images/controls/go_back.png') no-repeat;
  width: 24px;
  height: 24px;
  left: 25px;
}

.carousel-control .carousel-control-right {
  background: url('../images/controls/go_forward.png') no-repeat;
  width: 24px;
  height: 24px;
  right: 25px;
}
*/

/** store */
.nav .nav>li>a {
	padding-left: 30px;
}

.product .image img {
	width: 150px;
	height: 150px;
}

.product .price {
	font-weight: bold;
}

/** gallery */
.gallery img {
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1);
	/* Google Chrome, Safari 6+ & Opera 15+ */
	-webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
	margin-bottom: 20px;
}

.gallery img:hover {
	filter: none; /* IE6-9 */
	-webkit-filter: grayscale(0);
	/* Google Chrome, Safari 6+ & Opera 15+ */
}

.controls {
	width: 50px;
	display: block;
	font-size: 11px;
	padding-top: 8px;
	font-weight: bold;
}

.next {
	float: right;
	text-align: right;
}

