/**home*/

body {
  background-color: #fff;
}

.main-view {
  margin-top: 80px;
}

ul.left-menu{
	list-style-type: none;
	background-color: #3399CC;	
}

ul.left-menu li{
	background-color: #3399CC;
}


ul.left-menu li a{
	color: #fff;
	padding : 5px 10px;	
}

/** store */

.nav .nav>li>a {
	padding-left: 30px;
}


.product .image img{
	width: 150px;
	height: 150px;
}

.product .price{
	font-weight: bold;
}

/** gallery */

.gallery img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.gallery img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}

.controls{          
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;          
}
.next {
    float:right;
    text-align:right;
}

