/**
nav bar
*/
.fa-youtube-square {
	color: rgb(195, 51, 51);
}

.footer {
	margin-top: 15px;
	height: 100%;
}

a,a:hover,a:focus,a:active,a.active {
	outline: 0;
}

.carousel-caption .btn-info:hover,.carousel-caption .btn-info:focus,.carousel-caption .btn-info:active,.carousel-caption .btn-info.active
	{
	background-color: transparent;
	color: #000;
}

.btn-more{
    color: #fff; 
    font-size: 12px;
    /* background-color: #5bc0de; */
    background: rgba(255,255,255,0.5);
    border-style: none;
    border-color: #565a5c;
    border-bottom-color: #383b3c;
}

.btn-more:hover{
	color: #fbba1f;
	background-color: rgba(0,0,0,0.35);
	border-color: #676c6e;
    border-bottom-color: #444749;
    font-size: 12px;
}

/**home*/
html {
	height: 100%;
}

body {
	background-color: #fff;
	/**margin-bottom: 80px; */
	height: 100%;
}

.main-view {
	margin-top: 60px;
	height: 100%;
}

ul.left-menu {
	list-style-type: none;
	background-color: #3399CC;
}

ul.left-menu li {
	background-color: #3399CC;
}

ul.left-menu li a {
	color: #fff;
	padding: 5px 10px;
}

.home-section img {
	padding-top: 10px;
	height: 300px;
	width: 350px;
}

.home-container {
	width: 100%;
	position: relative;
	margin-top: 0;
}

.home-container .caption {
	text-align: center;
	color: #000;
	margin-bottom: 40px;
}

.home-container .caption {
	text-align: center;
	color: #000;
	margin-bottom: 40px;
}

.home-content {
	background: transparent;
	padding: 0;
}


.home-container .item {
	width: 100%;
	height: 100%;
	position: relative;
}

.home-container .item img {
	width: 100%;
	height: 100%; 
}

.hover-panel {
	height: 100%;  
	width: 100%;
	left: 0;
	margin: 0;
	top: 0;
	padding: 20px;
	position: absolute;
	border: 0;
	border-radius: 0px;
	text-align: center;
	background-color: #000;
	transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.hover-content {
	height: 100%;
	top: 30%;
	position: relative;
}


.home-container .item:hover>.hover-panel {
	display: block;
	opacity: 0.5; 
}


.home-container .item:hover>a {
	opacity: 1;
}

.home-content .img-description {
	padding-top: 4px;
}

/*
*carousel*/
.full-height {
	height: 100%;
}

.carousel-container {
	height: 67%;
}

.carousel .item {
	width: 100%; /*slider width*/
	height: 100%;
}

.carousel .item img {
	width: 100%; /*img width*/
	height: 100%;
	background-position: center top;
}

/*XS*/
@media screen and (max-width: 767px) {
	.carousel .item img {
		height: 250px;
	}
}

/*XS*/
@media screen and (max-width: 767px) {
	.carousel .item img {
		height: 250px;
	}
}

.carousel-control-backup {
	position: absolute;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	top: 50%;
	border: 3px solid #ffffff;
	width: 40px;
	height: 47px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
/**	background: #AAD6E5; */
}

.carousel-control {
	background: url(images/a17.png) no-repeat;
	overflow: hidden;
	width: 40px;
	height: 40px;
	cursor: pointer;
	position: absolute;
	top:50%;
}

.carousel-control.right {
	
}

.carousel-control left {
	
}

/** lessons*/
#introductionCarousel img {
	height: 500px;
}

.lesson-img {
	padding-bottom: 4px;
}

.lesson-img img {
	width: 100%;
	height: 270px;
}

.faq {
	font-size: 270px;
}

.lesson-caption {
	/**	text-align: center; */
	
}

.lessons .row {
	margin-top: 15px;
}

.lessons-controls {
	/**	text-align: center; */
	
}

.col-right {
	background-image: linear-gradient(to bottom, rgba(243, 243, 243, 1) 0%,
		rgba(0, 204, 255, 1) 100%),
		linear-gradient(to bottom, rgba(243, 243, 243, 0.6) 0%,
		rgba(0, 204, 255, 0.6) 100%);
	background-clip: content-box, padding-box;
}

.module-right {
	padding-bottom: 4px;
}

.module-summary {
	padding: 4px;
}

div.white {
	background-color: white;
	width: 100%;
	height: 4px;
}

/** store */
.nav .nav>li>a {
	padding-left: 30px;
}

.product .image img {
	width: 150px;
	height: 150px;
}

.product .price {
	font-weight: bold;
}

/** gallery */
.gallery_container {
	
}

.gallery_slider {
	heigth: 100%;
	overflow: hidden;
	top: 0px;
}

.gallery_nav {
	margin-top: 10px;
}

.gallery_img img {
	height: 480px;
	width: 100%;
}

.gallery_thumb {
	float: left;
	margin-left: 5px;
}

.gallery_thumb img {
	height: 80px;
	width: 120px;
}

/** video*/
.video-container .row {
	margin-bottom: 35px;
}

.next {
	float: right;
	text-align: right;
}

/** general */
@font-face {
	font-family: "AgencyFBRegular";
	src: url("pacifico/Pacifico.ttf") /* TTF file for CSS3 browsers */
}

h2,h3,h4 {
	font-family: 'Alegreya SC', sans-serif;
	font-weight: bold;
}

.col-padding {
	padding: 4px 4px;
}

p {
	text-align: justify;
	font-family: Book Antiqua, Calibri, Geneva, sans-serif;
	font-size: 13px;
}